/data_folder/extracted_raw/*
/data_folder/extracted_refined/*
/data_folder/fitted_unisplines/*
/data_folder/video_raw/*
/src/cache/*
data_folder/extracted_raw/*
data_folder/extracted_refined/*
data_folder/fitted_unisplines/*
data_folder/video_raw/*
src/cache/*
!data_folder/extracted_raw/.gitkeep
!data_folder/extracted_refined/.gitkeep
!data_folder/fitted_unisplines/.gitkeep
!data_folder/video_raw/.gitkeep
!src/cache/.gitkeep
cache/*
!cache/.gitkeep
src/__pycache__/*
!src/__pycache__.gitkeep
__pycache__/
